{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest?api-version=2021-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227201ff77-0000-0100-0000-6329382a0000\u0022",
        "Location": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
        "mise-correlation-id": "2e8c2e8a-9a6c-4dba-8678-978ec0bc9bd6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224f0018ef-0000-0100-0000-6329382a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "name": "1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "status": "Deleting",
        "startTime": "2022-09-20T03:48:58.7246934Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224f0022ef-0000-0100-0000-6329382b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "name": "1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "status": "Deleting",
        "startTime": "2022-09-20T03:48:58.7246934Z",
        "error": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224f0029ef-0000-0100-0000-6329382b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "name": "1d960464-5fa0-4809-88ee-9897dea17f1e*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "status": "Succeeded",
        "startTime": "2022-09-20T03:48:58.7246934Z",
        "endTime": "2022-09-20T03:48:59.7303197Z",
        "error": {},
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "2a7c2750-2fde-4470-9599-d75e5e885d09",
          "564cbb79-a0d3-48ee-b917-7861fa29a4c9",
          "5c270dc4-75db-42cf-8369-06ffb543858c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/testmary",
            "name": "testmary",
            "type": "dynatrace.observability/monitors",
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "marygao@microsoft.com",
              "createdByType": "User",
              "createdAt": "2022-09-19T09:08:43.8473528Z",
              "lastModifiedBy": "marygao@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2022-09-19T09:08:43.8473528Z"
            },
            "identity": {
              "principalId": "cb52ef72-dbaf-4668-9674-5d397579a6e9",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "properties": {
              "monitoringStatus": "Enabled",
              "marketplaceSubscriptionStatus": "Active",
              "dynatraceEnvironmentProperties": {
                "userId": "275d25ea-1c94-42d1-88b4-ff9f57abe260",
                "accountInfo": {
                  "accountId": "f6def7be-a538-43d9-a473-6e77720474e9",
                  "regionId": "eastus"
                },
                "environmentInfo": {
                  "environmentId": "zux69087",
                  "logsIngestionEndpoint": "https://zux69087.live.dynatrace.com/api/v2/logs/ingest",
                  "landingURL": "https://zux69087.live.dynatrace.com/"
                },
                "singleSignOnProperties": {
                  "singleSignOnState": "Initial",
                  "enterpriseAppId": "",
                  "singleSignOnUrl": "",
                  "aadDomains": [
                    "drawbridge.com",
                    "expresslogic.com",
                    "euevents.microsoft.com",
                    "nonprofits.microsoft.com",
                    "benefits.microsoft.com",
                    "forzaesports.com",
                    "bons.ai",
                    "bonsaiai.com",
                    "bonsai.ai",
                    "mobiledatalabs.com",
                    "azmosa.io",
                    "fslogix.com",
                    "Howdy.ai[...]
